## Python
__pycache__/
*.py[cod]

### Virtual Environments
.env/
.venv/
env/
venv/

### PyTest
.pytest_cache/
.cache/

### PyTest Coverage
.coverage

### PyTest HTML
htmlcov/

### macOS
.DS_Store

###
.ckpt
notebooks/
data/ontology
data/test
data/audio
data/meta

### Ubuntu

## IDE

### PyCharm
.idea/
